*{
	padding: 0;
	margin: 0;
}
html,body{
	height: 100%;
}
body{
	background-image: url(../images/06_02.png);
	background-size:cover;
	box-sizing: border-box;
	padding: 0.32rem;
}
.logo{
	width: 2.54rem;
	height: 0.72rem;
}
.matchhing{
	text-align: center;
}
.matchhing img{
	width: 5.1rem;
	height:1.16rem;
	margin-top: 0.51rem;
}
.pipei{
	box-sizing: border-box;
	padding: 0 1.45rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top:1.08rem;
	
}
.house_people{
	width:1.78rem;
	height:1.78rem;
	border-radius: 50%;
	border:0.05rem solid #FFFFFF;
}
.add{
	width: 0.75rem;
	height: 0.75rem;
}
.wait_people{
	width:2.2rem;
	height: 2.2rem;
}
.name{
	box-sizing: border-box;
	padding: 0 1.45rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	color: #FFFFFF;
	font-size: 0.2rem;
}
.fangzu{
	width:1.78rem;
}
.wait{
	width:2.2rem;
}
.vs{
	margin: 1rem auto;
	text-align: center;
}
.vs img{
	width: 1.75rem;
	height: 1.07rem;
	
}
.lll{
	text-align: center;
}
.invite{
	text-align: center;
	color:#ff8b00;
	font-size: 0.32rem;
	background: #FFFFFF;
	padding: 0.2rem 0.41rem;
	border-radius: 0.7rem;
	display:inline-block;
	margin-top: 0.95rem;
}
.zhezhao{
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
.share{
	position: fixed;
    right: 0.28rem;
}
.share_text{
	position: fixed;
	right: 0.53rem;
	top: 2.85rem;
	z-index: 999;
	color: #fff;
	font-size: 0.48rem;
}