<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>必胜客-披萨保卫战</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/team_matchsuccess.css">
		<style>
			.waitting{
				margin-top: 4.86rem;
				color: #fff;
				font-size: 18px;	
			}
		</style>
	</head>
	<body>
		<img src="../../images/logo.png" class="logo"/>
		<div class="matchhing"><img src="../../images/pipeichengong.png"/></div>
		<div class="pipei">
			<img src="../../images/touxiang111.jpg" class="house_people" id="headImg"/>
			<img src="../../images/add1.png" class="add"/>
			<img src="../../images/touxiang111.jpg" class="house_people" id="headImg2"/>
		</div>
		<div class="name">
		<div class="fangzu" >我</div>
		<div class="wait" id="name2">name</div>
		</div>
		<div class="vs">
			<img src="../../images/12.png"/>
		</div>
		<div class="pipei">
			<img src="../../images/touxiang111.jpg" class="house_people" id="headImg3"/>
			<img src="../../images/add1.png" class="add"/>
			<img src="../../images/touxiang111.jpg" class="house_people" id="headImg4"/>
		</div>
		<div class="name">
		<div class="fangzu" id="name3">name</div>
		<div class="wait" id="name4">name</div>
		</div>
		<div class="lll">
			<div class="waitting">等待中..</div>
			<img src="../../images/kaishiyouxi.png"  style="display:none;" class="start_game" id="start_btn"/>
		</div>
		<script src="../../js/zepto.js"></script>
		<script src="../../js/common.js"></script>
		<script>

            var room_id = chuanzhi().room_id;
            //			var room_id = sessionStorage.getItem('room_id');
            var uid = sessionStorage.getItem('uid_y');
            var homeId = chuanzhi().homeId;
            if(uid == homeId) {
                $('.waitting').hide();
                $('#start_btn').show();
            }
            _post('/push/push/listInfo', {
                room_id: room_id,
                uid: uid
            }, function(data) {
                console.log(data)
                $('#headImg').prop('src', data[0].staff[0].headimgurl);
                $('#headImg2').prop('src', data[0].staff[1].headimgurl);
                $('#name2').text(data[0].staff[1].username)
                $('#headImg3').prop('src', data[1].staff[0].headimgurl);
                $('#name3').text(data[1].staff[0].username)
                $('#headImg4').prop('src', data[1].staff[1].headimgurl);
                $('#name4').text(data[1].staff[1].username)
            });
		
			ws = new WebSocket("ws://bsk.mumarenkj.com:7272");
			// 服务端主动推送消息时会触发这里的onmessage
			ws.onmessage = function(e) {
				console.log("onmessage_begin");
				// json数据转换成js对象
				var data = JSON.parse(e.data);
				var type = data.type || '';
				switch(type) {
					case 'ping':
						ws.send('{"type":"pong"}');
						console.log("onmessage_ping");
						console.log(data.msg);
						break;
						// Events.php中返回的init类型的消息，实际运用时，可以将client_id发给后台进行uid绑定
					case 'init':
						console.log("onmessage_init");
						console.log(data.client_id);
						// break;
						// 利用jquery发起ajax请求，将client_id发给后端进行uid绑定
						_post('/push/push/bind', {
							client_id: data.client_id,
							room_id: room_id,
							uid: uid
						}, function(data) {
//						    alert(data.users);
							//头像

//							var homeId=data.home_id;
//							if(uid==homeId){
//								$('.waitting').hide();
//								$('#start_btn').show();
//							}
						})
						break;
					case 'message':
						if(data.content==1){
                            location.href = baseUrl+"/pizza/views/team/team_question.html?room_id="+room_id+"&uid="+uid;
						}
					break;	
					case 'close':
						console.log("非法接入client");
						console.log(data.msg);
						break;
				}

			};
			//开始游戏
            $(".start_game").click(function(){
//                alert(11111)
                //房主才能开始游戏
                if(uid == homeId) {
                    _post('/push/push/startGame', {
                        room_id: room_id,
                        uid: uid
                    }, function(data) {

//						location.href = baseUrl+"/pizza/views/personal/question.html";
                    })
                } else {
                    alert('房主才能开始游戏');
                }

            })
		</script>
	</body>
</html>
